<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleniumTESTNGAutomationTestNg._2_TestNG2"/>
      <class name="SeleniumTESTNGAutomationTestNg._1_TestNG1"/>
      <class name="SeleniumTESTNGAutomationTestNg._3_TestNG"/>
      <class name="SeleniumTESTNGAutomationTestNg._4_dataProvider"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
